/* Global Styles */
:root {
  --primary-color: #ffffff;
  --dark-color: #939393;
  --background-color: #383635;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
p{
  color: white;
  filter: brightness(80%);
  font-size: 15px;
  font-weight: 100;
}
h1,h4{
  color: var(--primary-color);

}
body {
  background-color:hsl(0, 3%, 6%);

}
.card img {
  width: 50px;
  height: 50px;
  margin: 1.2rem 1rem 1rem 0.5rem;
}
.container {
    margin: auto;
    overflow: hidden;
  }
.grid-2{
  display: flex;
  flex-direction: column;
}
.search-Container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  text-align: center;
  height: 250px;
  margin-bottom: 1rem;
  background-image: url('./assets/yousician-hero.png');
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -10px;
  height: 80px;
}
.info h1{
  margin-top: 5px;
  font-weight: 700;
}
.info p {
  margin-top: 10px;
  color: #ffffff;
}
.search{
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -3%;

}
.search input{
  position: relative;
  width: 34rem;
  border-radius: 25px;
  border: 1px solid white;
  height: 20px;
  margin-left: 1rem;
  padding: 0.4rem;

}
.search img{
  position: relative;
  top: 2px;
  width: 12px;
  margin-left: -3rem;
}
::-webkit-input-placeholder {
  font-size: 13px;
  text-indent: 20px;
  color: #939393;
}
.container-1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 300px;
  background-image: url('./assets/yousician-hero.png');
}


.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 60px;
  margin-left: 18%;
}
.details:nth-child(odd){
  background-color:hsl(0, 0%, 8%);
}
.details:nth-child(even){
  background-color:hsl(0, 0%, 5%);

}
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 50px;
  margin-left: -2px;
}
.song-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  margin-left: 4%;
  height: 50px;
}
.title{
  font-size: 12px;
  color: #f6f6f8;
  margin-top: 5px;
  filter: brightness(200%);
  font-weight: 300;
}
.artist{
  font-weight: 100;
  color: #d1cccc;
  filter: brightness(90%);
}

.song-1 h4 {
  font-family:  'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  filter: brightness(180%);
}
.song-1 h6 {
  font-family:  'Montserrat', sans-serif;
  font-weight: 100;
  color: #ffffff;
  filter: brightness(70%);
}
.song-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  height: 50px;
}
.svgFav g{
  fill: #0819b4;
}
.level{
  border-radius: 50%;
  border: 4px solid white;
  width: 20%;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 15px;
}
.level p {
  color: #f6f6f8;
  margin-top: 3px;
  filter: brightness(200%);
}
input {
  margin: 1.2rem;
}
input[type='text'],
select,
textarea {
  padding: 0.4rem;
}
.sort{
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
}
.filter{
  position: absolute;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 1rem;
  margin-right: 10rem;
  font-size: 12px;
  height: 25px;
  width: 190px;
  border: 2px solid red;
}
.filter span{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 10px;
}
.filter-icon{
  border-radius: 25px;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid white;
  flex-direction: row;
  width: 80px;
  height: 25px;
  margin-top: -2px;
  margin-left: 1rem;
}
.filter-icon p{
  color: #ffffff;
  width: 40px;
  height: 50px;
  margin-left: 10px;
  margin-top: 3px;
  filter: brightness(200%);
  font-weight: 500;

}
.img-filter{
  border-radius: 50%;
  background-color: #ffffff;
  height: 26px;
  width: 26px;
  margin-top: -3.4rem;
  margin-left: 3.4rem;
}
.img-filter img{
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 12px;
  margin-top: 7px;
  text-align: center;
}



/* Mobile Styles */
@media (max-width: 400px) {
  .search-Container{
    width: 100%;
    margin-left: 0;
    background-image: url('./assets/yousician-hero-mobile.png');
  }
  .card{
    width: 100%;
    margin-left: 0;
  }
}