/* Global Styles */
:root {
  --primary-color: #ffffff;
  --dark-color: #939393;
  --background-color: #383635;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
button{
  background-color: Transparent;
  border: #939393;       
  cursor:pointer;  
}
p{
  color: white;
  filter: brightness(80%);
  font-size: 15px;
  font-weight: 100;
}
h1,h4{
  color: var(--primary-color);

}
body {
  background-color:#000000

}
.card img {
  width: 50px;
  height: 50px;
  margin: 1.2rem 1rem 1rem 0.5rem;
}
.container {
    margin: auto;
    overflow: hidden;
  }
.grid-2{
  display: flex;
  flex-direction: column;
}
.search-Container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  text-align: center;
  height: 250px;
  margin-bottom: 1rem;
  background-image: url('./assets/yousician-hero.png');
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -10px;
  height: 80px;
}
.info h1{
  margin-top: 5px;
  font-weight: 700;
}
.info p {
  margin-top: 10px;
  color: #ffffff;
}
.search{
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -3%;

}
.search input{
  position: relative;
  width: 34rem;
  border-radius: 25px;
  border: 1px solid white;
  height: 20px;
  margin-left: 1rem;
  padding: 0.4rem;

}
.search img{
  position: relative;
  top: 2px;
  width: 12px;
  margin-left: -3rem;
}
::-webkit-input-placeholder {
  font-size: 13px;
  text-indent: 20px;
  color: #939393;
}
.container-1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 300px;
  background-image: url('./assets/yousician-hero.png');
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 60px;
  margin-left: 18%;
}
.details:nth-child(odd){
  background-color:hsl(0, 0%, 8%);
}
.details:nth-child(even){
  background-color:#000000
}
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 50px;
  margin-left: -2px;
}
.song-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  margin-left: 4%;
  height: 50px;
}
.title{
  font-size: 12px;
  color: #f6f6f8;
  margin-top: 5px;
  filter: brightness(200%);
  font-weight: 300;
}
.artist{
  font-weight: 100;
  color: #d1cccc;
  filter: brightness(90%);
}
.song-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  height: 50px;
}
.level{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 15px;
}
.level p {
  color: #f6f6f8;
  font-weight: 600;
  margin-top: 3px;
  filter: brightness(200%);
}
input {
  margin: 1.2rem;
}
input[type='text'],
select,
textarea {
  padding: 0.4rem;
}

.filter{
  position: absolute;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 1rem;
  margin-right: 10rem;
  font-size: 12px;
  height: 25px;
  width: 190px;
}

.btn{
  width: 50px;
  height: 50px;
}
.filter span{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 10px;
}
.filter-icon{
  border-radius: 25px;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid white;
  flex-direction: row;
  width: 80px;
  height: 25px;
  margin-top: -2px;
  margin-left: 1rem;
}
.filter-icon p{
  color: #ffffff;
  font-weight: 600;
  width: 40px;
  height: 50px;
  margin-left: 10px;
  margin-top: 3px;
  filter: brightness(200%);
  font-weight: 500;
}

.img-filter{
  border-radius: 50%;
  background-color: #ffffff;
  height: 26px;
  width: 26px;
  margin-top: -3.4rem;
  margin-left: 3.4rem;
}
.img-filter img{
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 12px;
  margin-top: 7px;
  text-align: center;
}
.favsvg{
  cursor: pointer;
 }
 /* .favsvg g {
 } */

 #togglable-btn{
  color: #ffffff;
  font-size: 10px;
}

/* .togglableContent{
  margin-left: -64rem;
  width: 100vmax;
  height: 80px;
} */

.sort{
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
  cursor: pointer;
}
.level-container{
  width: 99%;
  height: 50px;
  margin-bottom: 13px;
}
.level1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.each-level{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.each-level p{
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
  margin-left: 8px;
  font-weight: 500;
}






















@media(min-width: 500px) and (max-width: 740px){
 h1{
   font-size: 22px;
   margin-left: 1rem;
   margin-top: 1rem;
 }
 p{
   font-size: 10px;
 }
  .filter{
    margin-right: 7rem;
  }
  .search-Container{
    height: 150px;
  }
  .search{
    height: 35px;
  }
  .search input{
    width: 350px;
    margin-top: -1px;
    margin-left: -1rem;
    height: 15px;
  }
  .sort{
    border: 2px solid rgb(21, 192, 149);
    margin-bottom: 1rem;
  }
  .filter{
    margin-right: 7rem;
  }
  .details{
    margin-left: 3rem;
  }
  .card{
    width: 400px;
  }
  .level{
    width: 15px;
    height: 15px;
  }
  .level p{
    text-align: center;
    margin-top: 1px;
  }
}

/* Mobile Styles */
@media(max-width: 350px){
  h1{
    font-size: 22px;
    margin-left: 5px;
  }
  .info p{
    font-size: 12px;
    margin-left: 15px;
    width: 200px;
  }
  .search-Container{
    width: 100%;
    margin-left: 0;
    background-image: url('./assets/yousician-hero-mobile.png');
  }
  .search input{
    width: 250px;
    margin-left: -15px;
  }
  .sort{
    width: 250px;
  }
  .filter{
    margin-right: -90px;
  }
  .details{
    width: 330px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  .card img {
    width: 50px;
    height: 50px;
  }
  .song-1{
    width: 300px;
    margin-left: -5px;
    margin-right: -50px;
  }
  .song-1 p{
    font-size: 11px;
  }
  .song-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75px;
    margin-right: 40px;
  }
  .level{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 13px;
  }
  .level p {
    font-size: 10px;
  }
  .song-icon img {
    margin-left: 10px;
  }
}

@media(min-width: 351px) and (max-width:499px){
  .search-Container{
    background-image: url('./assets/yousician-hero.png');
    height: 200px;
  }
  .info{
    margin-top: 2rem;
  }
  .info p{
    font-size: 14px;
    margin-left: 15px;
    width: 300px;
  }
  .info h1{
    font-size: 1.3rem;
    margin-left: 5px;
  }
  .search input{
    width: 250px;
    margin-left: -10px;
    margin-top: 35px;
  }
  .filter{
    position: absolute;
    margin-right: 10px;
  }
  .details{
    width: 300px;
    margin-left: 30px;
  }
  .card{
    margin-right: 10px;
  }
  .card img{
    width: 50px;
    height: 50px;
  }
  .song-1{
    margin-left: -5px;
    margin-right: -70px;
  }
  .song-1 p{
    font-size: 12px;
  }
  .song-icon{
    width: 70px;
  }

  .level{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #383635;
  }
  .level p{
    margin-top: 2px;
    font-size: 12px;
  }

  .btnlevel {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
  }
}


#addFav {
  color: red;
  margin-top: 20px;
  cursor: pointer;
}

#removeFav {
  color: white;
  margin-top: 20px;
  cursor: pointer;
}